{% extends 'layout.html' %}

{% block title %}
    Babá
{% endblock %}

{% block content %}
    <div class="welcome-container">
        <div class="welcome-box">
            <h2>Seja bem-vindo ao BabaCare!</h2>
            <p>Facilite seu trabalho.</p>
            <p>O que deseja fazer?</p>
            <div class="button-group">
                <!-- Botões apontando para as rotas configuradas -->
                <a href="{% url 'login' %}" class="btn btn-login">Login</a>
                <a href="{% url 'cadastro' %}" class="btn btn-cadastro">Cadastro</a>
            </div>
        </div>
    </div>
{% endblock %}

