{% extends 'layout.html' %}
{% load static %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    
    <div class="rectangle">
        {% load static %}
        <img src="{% static 'images/olivia_arvore.jpg' %}" alt="Imagem não carregada" class="image">
        <p class="text">Sua família,<br>Nossa felicidade!</p>
        <ul class="list">
            <li>Deseja mais segurança e agilidade no seu dia a dia<br></li>
            <li>Possui dificuldades em encontrar uma babá ideal para sua família<br></li>
            <li>Está cansado de não achar um serviço compatível com seu bolso</li>            
        </ul>
        
        <!-- Botão de inscrição -->
        <a href="/users/responsaveis/" class="subscribe-btn">Inscreva-se Grátis como Responsável</a>
        
    </div>

{% endblock %}
