<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            Django App
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/main.js' %}" defer></script>
    <link rel="icon" type="image/x-icon" href="{% static 'images/logo_babacare.png' %}">
</head>

<body>
    <nav>

        {% if user.is_authenticated %}
        {% if user.isBaba %}
            <a href="{% url 'users:home_baba' %}" class="logo-container">
                <img src="{% static 'images/logo_babacare.png' %}" alt="Logo BabaCare" class="logo">
                <span class="logo-text">BabaCare</span>
            </a>
        {% else %}
            <a href="{% url 'users:home_responsavel' %}" class="logo-container">
                <img src="{% static 'images/logo_babacare.png' %}" alt="Logo BabaCare" class="logo">
                <span class="logo-text">BabaCare</span>
                            <!-- Exibe a busca somente para responsáveis -->

            </a>
            <!-- Exibe a busca somente para responsáveis -->
            <div class="nav-search">
                <form action="{% url 'perfis:buscar' %}" method="get" class="search-form">
                    <input class="busca__input" type="text" name="buscar" placeholder="Buscar babá">
                    <button type="submit" class="busca__btn">
                        <img class="busca__icone" src="{% static 'assets/icones/1x/search.png' %}" alt="ícone de busca">
                    </button>
                </form>
            </div>
        {% endif %}
    {% else %}
        <a href="{% url 'home' %}" class="logo-container">
            <img src="{% static 'images/logo_babacare.png' %}" alt="Logo BabaCare" class="logo">
            <span class="logo-text">BabaCare</span>
        </a>
    {% endif %}

        <!-- Links de navegação -->
        <div class="nav-links">
            {% if user.is_authenticated == False %}
                <a href="/about" class="nav-link">Sobre nós</a>
                <span class="separator">|</span>
                <a href="{% url 'users:baba_page' %}" class="nav-link">Babás</a>
                <span class="separator">|</span>
                <a href="{% url 'users:responsaveis_page' %}" class="nav-link">Responsáveis</a>
            {% endif %}

            {% if user.is_authenticated %}

                {% if user.isBaba == True %}
                    <a href="{% url 'contrato:gerenciar_servicos' %}" class="nav-link">Serviços</a>
                    <span class="separator">|</span>
                {% else %}                    
                    <a href="{% url 'contrato:lista_babas' %}" class="nav-link">Contratação</a>
                    <span class="separator">|</span>
                    <a href="{% url 'contrato:servicos_responsavel' %}" class="nav-link">Serviços</a>
                    <span class="separator">|</span>
                {% endif %}
                <a href="{% url 'perfis:my_page' %}" class="nav-link">Sua página</a>
                <span class="separator">|</span>
                <a href="{% url 'users:logout' %}" class="nav-link">Sair</a>
            {% endif %}
        </div>
    </nav>

    <main>
        {% if messages %}
            {% for message in messages %}
            <div id="popup1" class="overlay">
                <div class="popup">
                    {{ message }}
                    <a class="close" href="#popup1">×</a>
                    <div class="content"></div>
                </div>
            </div>
            {% endfor %}
        {% endif %}

        {% block content %}
        {% endblock %}
    </main>
</body>
<link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
</html>
