<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            Django App
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/main.js' %}" defer></script>
</head>

<body>
    <nav>
        <!-- Imagem e texto no lado superior esquerdo -->
        <a href="{% url 'home' %}" class="logo-container">
            <img src="{% static 'images/logo_babacare.png' %}" alt="Logo BabaCare" class="logo">
            <span class="logo-text">BabaCare</span>
        </a>

        <!-- Links de navegação -->
        <div class="nav-links">
            {% if user.isBaba == true %}
                <a href="/about" class="nav-link">About</a>
                <span class="separator">|</span>
                <a href="{% url 'users:baba_page' %}" class="nav-link">Baba</a>
                <span class="separator">|</span>
                <a href="{% url 'users:responsaveis_page' %}" class="nav-link">Responsáveis</a>
            {% endif %}

            {% if user.is_authenticated %}

                {% if user.isBaba == True %}
                    <a href="{% url 'perfis:gerenciar_servicos' %}" class="nav-link">Serviços</a>
                {% else %}
                    <a href="{% url 'users:home_responsavel' %}" class="nav-link">
                    </a>
                    <span class="separator">|</span>
                    <a href="{% url 'perfis:lista_babas' %}" class="nav-link">Perfis</a>
                    <span class="separator">|</span>
                    <a href="{% url 'users:servicos_finalizados' %}" class="nav-link">Serviços</a>
                {% endif %}
                <span class="separator">|</span>
                <a href="{% url 'users:logout' %}" class="nav-link">Logout</a>
                <span class="separator">|</span>
                <a href="{% url 'perfis:my_page' %}" class="nav-link">Own page</a>
            {% endif %}
        </div>
    </nav>

    <main>
        {% if messages %}
            {% for message in messages %}
            <div id="popup1" class="overlay">
                <div class="popup">
                    {{ message }}
                    <a class="close" href="#popup1">×</a>
                    <div class="content"></div>
                </div>
            </div>
            {% endfor %}
        {% endif %}

        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
