<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            Django App
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/main.js' %}" defer></script>
</head>
<body>
    <nav>
        {% if user.isBaba == true %}
            <a href="{% url 'home' %}">
                <span role="img" aria-label="Home">Home</span>
            </a> | 
            <a href="/about">
                <span role="img" aria-label="About">About</span>
            </a> |
            <a href="{% url 'perfis:lista_babas' %}">
                <span role="img" aria-label="Perfis">Perfis</span>
            </a> |

            <!-- Adicionando os botões "Baba" e "Responsáveis" -->
            <!-- Botões estilizados? -->
            <a href="{% url 'users:baba_page' %}">
                <button class="custom-button">Baba</button>
            </a> |
            <a href="{% url 'users:responsaveis_page' %}">
                <button class="customizar_botao">Responsáveis</button>
            </a> |
        {% endif %}
        
        

        {% if user.is_authenticated %}
            {% if user.isBaba  == True %}
                {% comment %} <a href="{% url 'users:home_baba' %}" >Home</a> | {% endcomment %}

            {% else %}
                {% comment %} <a href="{% url 'users:home_responsavel' %}" >Home</a> | {% endcomment %}
                <a href="{% url 'users:home_responsavel' %}">
                    <img src="{% static 'images/Babacare.png' %}" alt="buttonpng" width="60" height="60" align="center"/>
                </a> |
                <a href="{% url 'perfis:lista_babas' %}">
                    <button class="custom-button">Perfis</button>
                </a> |
            {% endif %}

            <a href="{% url 'users:logout' %}">
                <span role="img" aria-label="Logout">Logout</span>
            </a> |
            <a href="{% url 'perfis:my_page' %}">
                <span role="img" aria-label="Self">Own page</span>
            </a> 
        {% else %}
            <a href="{% url 'login' %}">
                <span role="img" aria-label="Login">Login</span>
            </a>
        {% endif %}
    </nav>
    <b></b>
    <main>

        {% if messages %}
            {% for message in messages %}
            <div id="popup1" class="overlay">
                <div class="popup">
                    {{ message }}
                    <a class="close" href="#popup1">×</a>
                    <div class="content"></div>
                </div>
            </div>
            {% endfor %}
        {% endif %}

        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
