{% extends 'layout.html' %}

{% load static %}

{% block title %}
    Lista de Babás
{% endblock %}

{% block content %}

{% if user.is_authenticated %}

    <section>
        <!-- Formulário de Data e Período -->
        <br>
        <h2 class="text-primary" style="font-size: 35px;" color: #9a9da0 >Selecione a Data e o Período</h2>
        <form method="post">
            {% csrf_token %}
            <div class="form-container">
                <div>
                    {{ form.data_servico.label_tag }}
                    {{ form.data_servico }}
                </div>
                <div>
                    {{ form.periodo.label_tag }}
                    {{ form.periodo }}
                </div>
                <button type="submit" class="btn-confirmar">Confirmar</button>
            </div>
        </form>

        {% if form.data_servico.value and form.periodo.value %}  {# Exibe apenas se a pesquisa foi feita #}
        <br>
            {% if users %}
                <h1 class="text-primary" style="font-size: 35px;" >Babás Disponíveis</h1>
                <div class="babas-container">
                    {% for baba in users %}
                    <div class="baba-card">
                        <div class="baba-card-header">
                            {% if baba.foto %}
                            <img class="baba-photo" src="{{ baba.foto.url }}" alt="Foto de {{ baba.nome }}">
                            {% else %}
                            <img class="baba-photo" src="{% static 'images/icone_avatar_padrao.jpg' %}" alt="Imagem padrão">
                            {% endif %}
                            <a class="baba-name" style="font-size: 30px;" href="{% url 'perfis:page_baba' slug=baba.slug %}"><strong>{{ baba.nome }}</strong></a>
                        </div>
                        <p class="baba-bio" style="font-size: 22px;"><strong>Biografia:</strong> {{ baba.bioBaba }}</p>
                        <form method="get" action="{% url 'contrato:contratar_servico' baba.id %}">
                            <input type="hidden" name="data_servico" value="{{ form.data_servico.value }}">
                            <input type="hidden" name="periodo" value="{{ form.periodo.value }}">
                            <button type="submit" class="contratar-button">Contratar</button>
                        </form>
                    </div>
                {% endfor %}
                </div>
            {% else %}
                <h3 style="font-size: 35px;" >Nenhuma babá disponível</h3>
            {% endif %}
        {% endif %}

    </section>

{% else %}
    <h2>Sorry! You must be logged in to view this page</h2>
    <a href="/login" style="font-size: 2rem">Login Here</a>
{% endif %}

{% endblock %}
