{% extends 'layout.html' %}

{%block title%}
    Lista de Babás
{%endblock%}
    
{%block content%}

{% if user.is_authenticated %}
    <section>
        <h1>Babás</h1>

        {% for baba in perfis %}
        <ul class="user-list">
            
            <li class="user-list-item">
                {{ baba.id }}
                <a href="{% url 'perfis:page_baba' slug=baba.slug %}">
                    {{ baba.nome }}
                </a>
            </li>

        </ul>
        {% endfor %}
    </section>

{% else %}
<h2>Sorry! You must be logged in to view this page</h2>
<a href="/login" style="font-size: 2rem">Login Here</a>
{% endif %}

{%endblock%}
     
