{% extends 'layout.html' %}

{% load static %}

{% block title %}
    Lista de Babás
{% endblock %}
    
{% block content %}

{% if user.is_authenticated %}
    <div class="cabecalho__busca">
        <div class="busca__fundo">
            <form action="{% url 'perfis:buscar' %}">
                <input class="busca__input" type="text" name="buscar" placeholder="O que você procura?">
                <button type="submit">
                    <img class="busca__icone" src="{% static '/assets/search.png' %}" alt="ícone de search">
                </button>
            </form>
        </div>
    </div>

    <section>
        <!-- Formulário de Data e Período -->
        <h2>Selecione a Data e o Período</h2>
        <form method="post" class="mb-4">
            {% csrf_token %}
            <div class="mb-3">
                {{ form.data_servico.label_tag }}
                {{ form.data_servico }}
            </div>
            <div class="mb-3">
                {{ form.periodo.label_tag }}
                {{ form.periodo }}
            </div>
            <button type="submit" class="btn btn-primary">Confirmar</button>
        </form>

        <h1>Babás Disponíveis</h1>
        <div class="babas-container">
            {% for baba in perfis %}
            <div class="baba-card">
                <div class="baba-card-header">
                    {% if baba.foto %}
                    <img class="baba-photo" src="{{ baba.foto.url }}" alt="Foto de {{ baba.nome }}">
                    {% else %}
                    <img class="baba-photo" src="{% static 'images/icone_avatar_padrao.jpg' %}" alt="Imagem padrão">
                    {% endif %}
                    <h2 class="baba-name">{{ baba.nome }}</h2>
                </div>
                <p class="baba-bio"><strong>Biografia:</strong> {{ baba.bioBaba }}</p>
                <button class="contratar-button" onclick="location.href='{% url 'perfis:contratar_servico' baba.id %}'">Contratar</button>
            </div>
            {% endfor %}
        </div>
    </section>

{% else %}
    <h2>Sorry! You must be logged in to view this page</h2>
    <a href="/login" style="font-size: 2rem">Login Here</a>
{% endif %}

{% endblock %}
