{% extends 'layout.html' %}
{% load static %}

{%block title%}
    Lista de Babás
{%endblock%}
    
{%block content%}

{% if user.is_authenticated %}
    <section>
        <h1>Babás</h1>

        {% if perfis %}
            <ul class="user-list">
                {% for baba in perfis %}
                    <li class="user-list-item">
                        {{ baba.id }}
                        <a href="{% url 'perfis:page_baba' slug=baba.slug %}">
                            {{ baba.nome }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Nenhuma babá foi encontrada com o termo pesquisado.</p>
        {% endif %}
    </section>
{% else %}
    <h2>Sorry! You must be logged in to view this page</h2>
    <a href="/login" style="font-size: 2rem">Login Here</a>
{% endif %}

{%endblock%}
