{% extends 'layout.html' %}

{% load static %}

{% block title %}
    Contrato de Serviço
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h1>Contrato de Serviço</h1>
        <p><strong>Contratante:</strong> {{ user.nome }}</p>
        <p><strong>Babá:</strong> {{ baba.nome }}</p>
        <p><strong>Data do Serviço:</strong> {{ request.GET.data_servico }}</p>
        <p><strong>Período:</strong> {{ request.GET.periodo }}</p>
        <p><strong>Valor:</strong> (a definir com a babá)</p>
        <p><strong>Contato da Babá:</strong> {{ baba.telefone }}</p>
        <p><strong></p>
        <p class="text-warning">Ao apertar em "Contratar", você confirma todas as informações acima relacionadas à contratação desse serviço.</p>

        <form method="post" action="{% url 'perfis:contratar_servico' baba.id %}">
            {% csrf_token %}
            <input type="hidden" name="baba_id" value="{{ baba.id }}">
            <input type="hidden" name="data_servico" value="{{ request.GET.data_servico }}">
            <input type="hidden" name="periodo" value="{{ request.GET.periodo }}">
            <button type="submit" class="btn btn-primary">Contratar</button>
        </form>

        <a href="{% url 'perfis:lista_babas' %}" class="btn btn-secondary mt-3">Voltar</a>
    </div>
{% endblock %}
