{% extends 'layout.html' %}

{%block title%}
    BabaCare
{%endblock%}

{%block content%}
    {% if user.is_authenticated %}
        {%if eu_id == perfil.id %}
            <section>

                <h1>Seu perfil</h1>
                <p>Nome Completo: {{ perfil.nome }}</p>
                {% comment %} <img class="foto-perfil" src="{{ perfil.foto.url }}"/> {% endcomment %}
                <p>Aniversário: {{ perfil.nascimento }}</p>
                <p>Email: {{ perfil.email }}</p>
                <p>Endereço: {{ perfil.endereco }}</p>
                {% comment %} <p>Habilidades: {{ perfil.habilidades }}</p> {% endcomment %}
                <p>Contato: {{ perfil.telefone }}</p>

                <a class="edit-button" href="{% url 'perfis:edit_page' perfil.id %}">
                    Editar perfil
                </a>

            </section>
        {% endif %} {% comment %} if user == perfil.owner {% endcomment %}
    {%endif%} {% comment %} if user.is_authenticated {% endcomment %}
{%endblock%}