* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@font-face {
    font-family: myFont;
    src: url('../fonts/onuava__.ttf') format('truetype');
}

@font-face {
    font-family: logoFont;
    src: url('../fonts/Sauce_Barbe.otf') format('opentype');
}

@font-face {
    font-family: BasicFont;
    src: url('../fonts/onuava__.ttf') format('truetype');
}

@font-face {
    font-family: decoracao;
    src: url('../fonts/Sauce_Barbe.otf') format('truetype');
}

body { 
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden; /* Evita rolagem horizontal indesejada */
}

nav {
    font-size: 10px; /* Melhor legibilidade */
    font-family: BasicFont;
    background-color: #54b5be; /* Apenas uma vez */
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px; /* Mantém espaçamento lateral adequado */
    
}

main {
    padding: 0; /*distancia entre o conteudo e as bordas de conteudo */
    font-family: myFont;
}

section {
    display: flex; /*tamanho da tela, flex: "auto-ajuste"*/
    flex-flow: column; /*conteudo é mostrado em coluna*/
    gap: 1rem; /*espaço entre linhas e colunas*/
    text-align: left;
}

h1 {
    padding: 0em;
    font-size: 4rem;
    text-align: left;
    font-family: myFont;
}

h2 {
    font-size: 2.5rem; /*tamanho da fonte*/
}

/* home.html */

.rectangle {
    width: 970px; /* Largura do contêiner */
    height: 400px; /* Altura do contêiner */
    background-color: #e4b041; /* Cor de fundo amarela */
    border-radius: 20px; /* Cantos arredondados */
    display: flex; /* Usa Flexbox para layout */
    /*flex-direction: column;  /* Empilha os elementos verticalmente */
    /*justify-content: center; /* Alinha os itens verticalmente no centro */
    align-items: center;  /* Alinha os itens horizontalmente no centro */
    padding: 30px 50px; /* Espaçamento interno ao redor do conteúdo */
    /*overflow: hidden; /* Oculta qualquer conteúdo que ultrapasse o contêiner */
    position: absolute; /* Posiciona o contêiner de forma absoluta */
    top: 50%; /* Coloca o contêiner a 50% da altura da tela */
    left: 50%; /* Coloca o contêiner a 50% da largura da tela */
    transform: translate(-50%, -40%); /* Ajusta a posição para centralizar o contêiner */
}

/* Estilos para a imagem */
.image {
    width: 420px;  
    height: auto; /* Mantém a proporção original da imagem */
    border-radius: 10px; /* Cantos arredondados na imagem */
}

/* Estilos para o texto */
.text {
    position: relative;
    color:  #331d43; /* Cor do texto (um tom de roxo escuro) */
    font-size: 35px; /* Tamanho da fonte maior */
    font-weight: bolder; /* Deixa o texto em negrito */
    text-align: left; /* Alinha o texto ao centro */
    padding: 8px; /* Espaçamento interno ao redor do texto */
    padding-left: 40px;
    padding-right: 0px;
    padding-top: 0px; 
    padding-bottom: 0px;
    align-self: flex-start; /*nao segue oq o retangulo fala*/
    width: 100%; /* O texto ocupa toda a largura disponível */
    margin-top: -10px;
    white-space: nowrap; /* Evita quebra de linha dentro dos itens */
}

.list{
    color: #331d43;
    font-size: 15px;
    text-align: left;
    width: 100%; /* Garante que a lista ocupe toda a largura do contêiner */
    padding: 10px 0; /* Ajuste de espaçamento */
    display: block; /* Impede o comportamento flex que estava causando problemas */
    display: inline-block;
    margin-right: 15px; /* Espaço entre os itens */
    white-space: wrap; /* Evita quebra de linha dentro dos itens */
    transform: translateY(25px);
    margin-left: -330px;
    padding-right: 10px;
    font-weight: bold;
    line-height: 1.8; /* Ajuste conforme necessário */
}

.list li {
    display: block;
    margin-bottom: 10px; /* Adiciona espaço entre os itens */
}

.subscribe-btn {
    position: absolute; 
    background-color: #331d43; /* Cor roxa escura */
    color: #fff; /* Texto branco */
    font-size: 13px;
    font-weight: bold;
    padding: 12px 20px;
    border-radius: 10px;
    text-decoration: none;
    display: block;
    width: fit-content;
    display: inline-block;
    transition: 0.3s;
    text-align: center;
    white-space: nowrap; /* Evita quebra de linha dentro dos itens */
    left: 520px;
    bottom: 30px;
}

.subscribe-btn:hover {
    background-color: #5a2d6a; /* Cor mais clara ao passar o mouse */
}

  

/* Título da página */
cadastro {
    font-size: 0.45em;
    text-align: center;
    font-family: myFont;
}

/*caixa de input*/
input {
    color: black;
    display: block;
}

.container { 
    margin-left: auto;
    margin-right: auto;
}


/*indíces da lista de usuários*/
th {
    font-family: myFont;
    font-size: 2rem;
}

td {
    font-size: 2rem;
}


a {
    text-decoration: none;
    color: #331d43;
}

a:hover {
    opacity: .75;
}

.banner {
    display: block;
    width: 100%;
    max-width: 300px;
}

/*#region forms*/

.edit-form {
    font-size: 2rem;
    padding: 0.5rem;
    display: flex;
    flex-flow: column;
    gap: 0.5rem; /* espaço entre inputs*/
    max-width: 300px;
}


.form-with-validation {
    font-size: 2rem;
    padding: 0.5rem;
    display: flex;
    flex-flow: column;
    gap: 0.5rem; /* espaço entre inputs*/
    max-width: 50%;
}

.form-with-validation div {
    display: flex;
    flex-flow: column;
    gap: 0.25rem; /* espaço entre título e helptext*/
}

.form-with-validation input {
    padding: 0.25rem;
    max-width: 300px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.5em;
}

.form-submit {
    padding: 0.5rem;
    border-radius: 10px;
    width: 125px;
}

.helptext {
    font-size: 1.5rem;
    margin-left: 1rem;
}

.helptext ul {
    list-style-type: none;
}

.errorlist {
    color: #F00;
    margin-left: 2rem;
    font-size: 1.5rem;
}

.errorlist li::marker {
    content: '🚨 ';
}

/*#endregion*/

/*#region popup*/

.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
    font-size: 1.5rem;
}

.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.popup .close:hover {
    color: orange;
}

.popup .content {
    max-height: 30%;
    overflow: auto;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.3);
}

/* These are the rules you are looking for. */
.overlay {
    transition: opacity 500ms;
    opacity: 1;
    pointer-events: all;
}

.overlay:target {
    opacity: 0;
    pointer-events: none;
}
/*#endregion*/



.edit-button {
    background-color: #b1443e;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    align-content: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    width: 200px;
    height: 55px;
    font-family: myFont;
}

.edit-button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: #b32727d6;
}

.header {
    padding: 30px;
    text-align: center;
    background: #E0A75E;
  }
  
  .header h1 {
    text-align: center;
    font-size: 50px;
  }

.foto-perfil {
    max-width: 225px;
    max-height: 300px;
}

/* Estilo base dos botões */
.custom-button {
    .custom-button {
        font-family: myFont;
        color: purple; /* Define o texto roxo */
        background: none; /* Remove o plano de fundo */
        border: none; /* Remove a borda */
        cursor: pointer; /* Mostra o ícone de clique */
        font-size: 16px; /* Tamanho da fonte */
        padding: 10px 20px; /* Adiciona espaçamento interno */
        transition: color 0.3s ease, transform 0.2s ease; /* Animações suaves */
    }
}

/* Efeito ao passar o mouse */
.custom-button:hover {
    color: darkviolet; /* Tom mais escuro de roxo ao passar o mouse */
    transform: scale(1.05); /* Aumenta ligeiramente o botão */
}

/* Efeito ao clicar */
.custom-button:active {
    background-color: #3e8e41; /* Verde ainda mais escuro */
    transform: scale(0.98); /* Reduz ligeiramente */
}

.welcome-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.welcome-box {
    text-align: center;
    padding: 30px;
    border-radius: 15px;
    background-color: #f5f0d7;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 90%;
}

.welcome-box h2 {
    margin-bottom: 10px;
    color: #333;
}

.welcome-box p {
    margin-bottom: 20px;
    font-family: BasicFont;
    font-size: 16px;
    color: #666;
}

.button-group {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.btn {
    flex: 1;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 20px;
    color: #fff;
    background-color: #331d43;
    text-align: center;
    font-weight: bold;
    font-family: BasicFont;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #331d43;
}

/* style.css */
.container {
    max-width: 800px; /* Aumenta a largura máxima do container */
    margin: 0 auto; /* Centraliza o container horizontalmente */
    padding: 20px;
}

.text-center {
    text-align: center;
    margin-bottom: 20px;
}

.alert {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.form-container {
    background-color: #f5f0d7;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.form-with-validation {
    display: flex;
    flex-direction: column;
}

.form-with-validation label {
    margin-bottom: 5px;
    font-weight: bold;
    font-family: BasicFont;
    font-size: 16px;
    color: #181818;
}

.form-with-validation input,
.form-with-validation select,
.form-with-validation textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #b8b6b6;
    border-radius: 8px;
    width: 100%; /* Ajusta para ocupar 100% da largura do container */
    box-sizing: border-box; /* Inclui o padding e border no cálculo da largura */
}

.form-submit {
    padding: 10px;
    color: #fff;
    background-color: #331d43;
    text-align: center;
    font-weight: bold;
    font-family: BasicFont;
    font-size: 14px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-submit:hover {
    color: #fff;
    background-color: #331d43;
    text-align: center;
    font-weight: bold;
    font-family: BasicFont;
    font-size: 16px;
}

.user-list {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.user-list-item {
    list-style-type: none;
    font-size: 20px;
    padding: 12px 8px 12px 40px;
    background: #eee;
}

.user-list-item:nth-child(odd) {
    background: #f9f9f9
}

.babas-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.baba-card {
    background-color: #f5eecd;
    border-radius: 15px;
    padding: 20px;
    width: 90%; /* Deixa o card bem largo */
    max-width: 800px; /* Define um limite máximo de largura */
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
}

.baba-card-header {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.baba-photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
}

.baba-name {
    font-size: 2rem;
    color: #331d43;
    margin: 0;
}

.baba-bio {
    font-size: 2rem;
    color: #333;
    margin: 15px 0;
}

.contratar-button {
    background-color: #331d43;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 1.5rem;
    align-self: flex-end; /* Alinha o botão à direita */
}

.contratar-button:hover {
    background-color: #45235a;
    font-family: BasicFont;

}

/* Barra de navegação - flex container */

/* Ajuste para o conteúdo principal */
main {
    margin-top: 60px; /* Mesma altura da barra de navegação */
    padding: 20px; /* Opcional: espaçamento interno */
}

/* Contêiner da logo */
.logo-container {
    display: flex; /* Garante que o link da logo seja tratado como flex */
    justify-content: center;
    align-items: center;
    font-family: logoFont;
    font-weight: 700;
    font-size: 50px;
}

/* Logo */
.logo {
    height: 65px;  /* Ajuste de altura */
    width: auto;
    display: flex; /* Garante que o link da logo seja tratado como flex */
    justify-content: center;
    align-items: center;
    /*position: absolute;*/
    left: 50%;
    transform: translateY(-10%);
}

/* Links de navegação */
.nav-links {
    display: flex; /* Alinhamento horizontal */
    gap: 15px; /* Espaço entre os links */
    align-items: center;
    font-family: BasicFont;
}

/* Estilo dos links */
.nav-link {
    font-family: BasicFont;
    font-size: 20px; /* Ajuste do tamanho da fonte */
    color: #331d43; /* Cor do texto */
    text-decoration: none; /* Remove o sublinhado */
    padding: 5px;
    transition: color 0.3s ease;
    font-weight: bold;
}

.nav-link:hover {
    font-family: BasicFont;
    color: #6a4c7a; /* Cor ao passar o mouse */
}

/* Separador entre os links */
.separator {
    font-family: BasicFont;
    color: #331d43;
    font-size: 18px;
    padding: 0 5px;
    font-weight: bold;
}
.servicos-container {
    font-family: BasicFont;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
    padding: 1rem;
}

.servico-card {
    background-color: #fff8e7; /* Creme */
    border-radius: 12px;
    width: 320px;
    padding: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.servico-card-body {
    background-color: #fff3d4; /* Tom mais claro de creme */
    border-radius: 12px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.card-header {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.contratante-photo {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ccc;
}

.contratante-name {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
}

.detalhes-link {
    color: #007bff;
    text-decoration: none;
}

.detalhes-link:hover {
    text-decoration: underline;
}

.servico-card-actions {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    margin-top: 1rem;
}

.btn-success {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    cursor: pointer;
}

.btn-danger {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    cursor: pointer;
}

.status-confirmado {
    margin-top: 20px;
    padding: 0.5rem;
    background-color: #d4edda;
    color: #155724;
    text-align: center;
    font-weight: bold;
    border-radius: 8px;
}

.rate-button {
    margin-top: 1rem;
    padding: 5px 10px; 
    background-color: #331d43; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    text-decoration: none;
    font-size: 1rem;
    text-align: center;
    align-content: center;
    text-decoration: none;
    display: inline-block;
    width: 100px;
    height: 40px;
    font-family: myFont;
}
.rate-button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: #551d65;
}


.chat-button {
    margin-top: 1rem;
    padding: 5px 10px; 
    background-color: #0036bd; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    text-decoration: none;
    font-size: 1rem;
    text-align: center;
    align-content: center;
    text-decoration: none;
    display: inline-block;
    width: 100px;
    height: 40px;
    font-family: myFont;
}
.chat-button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: #2248ef;
}

.chatbox{
    position: sticky;
    z-index: 10;
    padding: 0.5rem;
    --tw-bg-opacity: 1;
    background-color: rgb(31 41 55 / var(--tw-bg-opacity));
    width: 50%;
}

.chat_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chat_background{
    display: flex;
    background-color: #45235a;
    height: auto;
    min-height: 50vh;
    overflow-y: auto;
    max-height: 50vh;
    width: 50%;
    border-radius: 10px;
    margin-top: 0.1rem;
    margin-bottom: 0.2rem;
}


.message-container {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px; /* Espaço entre as mensagens */
    margin-left: 5px;
    margin-top: 5px;
    width: 100%;
}

.avatar {
    width: 25px;
    height: 25px;
    border-radius: 50%; 
}

.message {
    font-size: 15px;
    max-width: 80%;
    min-width: 150px;
    background: #f1f1f1;
    padding: 2px;
    margin: 3px;
    border-radius: 10px;
    border:1px solid #ffdd7c; 
    word-wrap: break-word;

    margin-bottom: 10px; /* Espaço entre as mensagens */
}

.my-message {    
    justify-content: flex-end; /* Alinhar à direita */
    text-align: left; /* Texto alinhado à direita */
    flex-direction: row-reverse;
}

.my-message .avatar {
    margin-right: 10px;
    margin-left: 0; /* Espaço entre a mensagem e a imagem */
}
.my-message .message {
    background: #9ff09f;
}

.other-message {
    justify-content: right;
    text-align: left; /* Texto alinhado à esquerda */
    flex-direction: row; /* Ordem normal dos elementos */
}

.chat_message {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.chat_input{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 82%;
}

.chat_input input{
    flex-grow: 0.5;
    margin-right: 0.3rem;
}