{% extends 'layout.html' %}

{% block title %}
    Registrar Responsável
{% endblock %}

{% block content %}

    {% comment %} AQUI ELE CHAMA A LISTA DE RESPONSAVEIS DEPOIS DE CADASTRAR {% endcomment %}
    <form action="{% url 'users:cadResponsaveis' %}" method="post">
        {%  csrf_token %}
        </div class="container">
            <cadastro>
                <h1>Cadastro do Responsável</h1>
                Nome <input name="nome"class="form-control-sm" type="text">
                Email <input name="email"class="form-control-sm" type="text">
                CPF <input name="cpf"class="form-control-sm" type="text">
                <button class="form-control-sm">Registrar</button>
            </cadastro>
        </div>
    </form>
{% endblock %}