{% extends 'layout.html' %}

{% block title %}
    Registrar Babá
{% endblock %}

{% block content %}

    {% comment %} AQUI ELE CHAMA A LISTA DE BABAS DEPOIS DE CADASTRAR {% endcomment %}
    <form action="{% url 'users:cadBabas' %}" method="post">
        {%  csrf_token %}
        <div class="container">
            <cadastro>
                <h1>Cadastro da Babá</h1>
                    Nome <input name="nome"class="form-control-sm" type="text">
                    Email <input name="email"class="form-control-sm" type="text">
                    CPF <input name="cpf"class="form-control-sm" type="text">
                <button class="form-control-sm">Registrar</button>
            </cadastro>
        </div>
    </form>
{% endblock %}