{% extends 'layout.html' %}



{% block content %}
    <h1>Lista de Pais no Banco de Dados</h1>
 
    </div class="container">
        <table>
            <tr>
                <th>Id </th>
                <th>Nome </th>
                <th>Email </th>
                <th>CPF </th>
            </tr>
            {% for responsavel in responsaveis%}
            <tr>
                <td> {{responsavel.id_baba}} </td>
                <td> {{responsavel.nome}} </td>  
                <td> {{responsavel.email}} </td>
                <td> {{responsavel.cpf}} </td>                   
            </tr>
            {% endfor %}
        </table>

     </div>
   
{% endblock %}