{% extends 'layout.html' %}

{% block title %}
    Lista das babás
{% endblock %}

{% block content %}
    <section>
        <cadastro>
            <h1>Lista de Babás no Banco de Dados</h1>
        </cadastro>

        </div class="container">
            <table>
                <tr>
                    <th>Id</th>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>CPF</th>
                </tr>
                {% for baba in babas%}
                <tr>
                    <td> {{baba.id_baba}} </td>
                    <td> {{baba.nome}} </td>  
                    <td> {{baba.email}} </td>
                    <td> {{baba.cpf}} </td>                   
                </tr>
                {% endfor %}
            </table>

        </div>
{% endblock %}