{% extends 'layout.html' %}

<!--TEXTO NA ABA DO NAVEGADOR-->
{%block title%}
    Posts
{%endblock%}

<!--CONTEÚDO DO SITE ABAIXO NA BARRA DE ÍCONES-->
{%block content%}
    <section>
    
    <h1>Posts</h1>

    {% for post in posts %}
        <article class="post">
            <!--<h2>{{ post.title }}</h2>-->
            <h2>
                <!-- url no arquivo urls.py (app_name = 'posts')  e passamos o slug do post -->
                <a href="{% url 'posts:page' slug=post.slug %}">
                    {{ post.title }}
                </a>
            </h2>
            <p>{{ post.date }}</p>
            <p>{{ post.body }}</p>
        </article>
    {% endfor %}
    
</section>
{%endblock%}